

@media screen and (max-width: 1440px) {
    .home__baner {
        background-image: url(../img/top_bg_pic.svg);
    }
}
@media screen and (max-width: 1280px) {
    .home__baner {
        background-image: url(../img/top_bg_1280.svg);
    }
}
@media screen and (max-width: 1199px) {
    .header__item {
        padding: 0 10px 0px;
    }

    .services__right {
        width: 50%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .services__item {
        max-width: 300px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 991px) {
    .header__logoimg {
        width: 224px;
    }

    .burger-menu__button {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__nav.is-active {
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        height: 100vh;
        background: #031E4D;
    }

    .header__list-nav {
        margin: 0 auto;
        padding-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .header__item {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .header__link {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        position: relative;
        color: #fff;
        width: 100%;
    }

    .header__link:hover::before, .header__link:focus::before, .header__link:active::before {
        display: none;
    }

    .home__baner {
        min-height: 740px;
    }

    .caption__wrap {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        height: 100%;
    }

    .caption {
        position: relative;
        top: 180px;
        -webkit-transform: translate(0%, 0%);
            -ms-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
    }

    .caption__title {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 20px;
    }

    .caption__text {
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 40px;
    }

    .services {
        padding-bottom: 90px;
        padding-top: 40px;
    }
    
    .services .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .services__left {
        width: 100%;
    }
    .services__left .description {
        margin-bottom: 30px;
    }
    .services__right {
        width: 100%;
    }
    .services__item {
        margin-bottom: 20px;
    }  
    .services__item:last-child {
        margin-bottom: 0px;
    }        
    
    .services__description {
        margin-bottom: 0px;
    }
    .about__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about__item {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .about__item:last-child {
        margin-bottom: 0px;
    }
    .contacts .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contacts__left {
        margin-bottom: 50px;
    }
    .contacts .form__footer {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .burger-menu {
        top: 45px;
        right: 5px;
    }
    .header__logo {
        padding-left: 20px;
    }

    .caption__title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .caption__text {
        padding-left: 20px;
        padding-right: 20px;
    }
    .caption__btn{
        margin-left: 20px;
    }
    .services {
        padding-top: 10px;
    }
    .services__left, .services__right {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contacts {        
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer {
        padding: 40px 20px 50px;
    }
    .footer .row {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer .footer__right .description {
        display: none;
    }
    
    .footer .footer__center .description:last-child {
        display: block;
        margin-top: 15px;
    }
    .footer .footer__center .description:last-child a {
        color: #fff;
    }
    .footer .footer__left {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 20px;
    }
    .footer .footer__center {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .footer .footer__right {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        margin-bottom: 20px;
    }
    .footer .footer__center .description:first-child {
        display: block;
        margin-bottom: 20px;
    }
    .popup__login, .popup__registration {
        width: calc(100% - 40px);
        padding: 0px 35px 50px;
    }

        
}
