/* monda-regular - latin */
@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/monda-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Monda Regular'), local('Monda-Regular'),
         url('../fonts/monda-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/monda-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/monda-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/monda-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/monda-v9-latin-regular.svg#Monda') format('svg'); /* Legacy iOS */
  }
  /* monda-700 - latin */
  @font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/monda-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Monda Bold'), local('Monda-Bold'),
         url('../fonts/monda-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/monda-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/monda-v9-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/monda-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/monda-v9-latin-700.svg#Monda') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

body {
    font-family: "Monda", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #606A7C;
}

main {
    overflow: hidden;
    position: relative;
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F31361;
    border-radius: 30px;
    padding: 12px 0px;
    width: 240px;
    cursor: pointer;
}

.btn:hover, .btn:active {
    background: #C50E4E;
}
.content {
    margin-top: 92px;
    padding: 50px 0;
}
.content .title {
    font-family: "Monda", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-align: left;
    margin: 0 0 45px;
    white-space: pre-wrap;
    color: #031E4D;
    position: relative;
    width: 100%;
}
.content .title::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -20px;
    background: #F31361;
    width: 95px;
    height: 5px;

}
.content h2 {    
    width: 100%;
    margin-bottom: 20px;    
    font-family: "Monda", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #031E4D;
    text-transform: uppercase;
}
.content h3 {         
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #031E4D;
}
.content span {      
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #606A7C;
}
.content ul {
    margin-left: 25px;
}
.content ul li {
    list-style: disc;    
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #606A7C;
}
.content p {    
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #606A7C;
    margin-bottom: 20px;
}
.title {
    font-family: "Monda", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-align: left;
    margin: 0 0 45px;
    white-space: pre-wrap;
    color: #031E4D;
    position: relative;
}
.title::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -20px;
    background: #F31361;
    width: 95px;
    height: 5px;

}

.container__header {
    background: transparent;
}

.container__header.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.container__header.fixed-top.scrolled {
    position: fixed;
    background: #031E4D;
    border-bottom: 2px solid #031E4D;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.scrolled .header__logo {
    padding: 0px;
}
.scrolled .header__logoimg {
    width: 150px;
}
.scrolled .header__link {
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.scrolled .header__link:hover {
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.inner .container__header.fixed-top {
    background: #031E4D;
    border-bottom: 2px solid #031E4D;
}
.inner .header__logo {
    padding: 0;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.header__logo {
    padding: 30px 0;
}

.header__logoimg {
    width: 224px;
}

.header__nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__list-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 25px 0 0;
    list-style: none;

}

.header__item {
    padding: 0 40px 0px;
}

.header__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: relative;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    color: #f2f2f2;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.home__baner {
    background-image: url(../img/top_bg_pic_1920.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    min-height: 805px;
}

.home__img__mobile {
    display: none;
}

.burger-menu {
    position: absolute;
    top: 50px;
    right: 0px;
}
.container__header.fixed-top.scrolled .burger-menu{
    top: 1px;
}
.burger-menu__button {
    display: none;
    position: relative;
    width: 59px;
    height: 59px;
    cursor: pointer;
    z-index: 1000;
    background: transparent;
}

.burger-menu__lines {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 47%;
    right: 50%;
    -webkit-transform: translate(50%);
    -ms-transform: translate(50%);
    transform: translate(50%);
    background-color: #fff;
}
.container__header.fixed-top.scrolled .burger-menu__lines,.container__header.fixed-top.scrolled .burger-menu__lines:before, .container__header.fixed-top.scrolled .burger-menu__lines:after{
    background-color: #031E4D;
}

.burger-menu__lines::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 7px;
}

.burger-menu.is-active .burger-menu__lines {
    background-color: transparent;
}

.burger-menu.is-active .burger-menu__lines:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
}

.burger-menu__lines::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: -7px;
}

.burger-menu.is-active .burger-menu__lines:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #fff;
}

.caption__wrap {
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 740px;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
}

.caption__title {
    font-family: "Monda", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 20px;
    max-width: 430px;
}

.caption__text {
    font-family: "Monda", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 40px;
    max-width: 445px;
}

.services {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.services .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.services__left {
    width: 48%;
}

.services__left .title {
    width: 100%;
}
.services__left .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    color: #606A7C;
}

.services__right {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.services__item {
    max-width: 255px;
    margin-right: 30px;
}
.services__item:last-child {
    margin-right: 0px;
}
.services__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #606A7C;
}
.services__description span {
    font-weight: 700;
    color: #031E4D;
}
.about {
    padding-top: 50px;
    padding-bottom: 40px;
    background: rgba(242, 246, 249, 0.8);
}
.about .title {
    max-width: 950px;
}
.about .title span {
    color: #F31361;
}
.about .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #606A7C;
    margin-bottom: 50px;
}
.about__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 0px;
}
.about__item {
    margin-right: 30px;
    padding: 25px 30px;
    background: #FFFFFF;
}
.about__item:last-child {
    margin-right: 0px;
}
.about__item:nth-child(1) {
    border-top: 5px solid #13A2F3;
}

.about__item:nth-child(2) {
    border-top: 5px solid #0AC99B;
}

.about__item:nth-child(3) {
    border-top: 5px solid #F39913;
}

.about__item h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    color: #031E4D;
}

.contacts {
    padding-top: 60px;
    padding-bottom: 50px;
}

.contacts .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0px;
}

.contacts__left {
    max-width: 365px;
}
.contacts__left .title span {
    color: #F31361;
}
.contacts__left .title::before {
    display: none;
}

.contacts .form__footer {
    padding: 10px 0px;
    width: 50%;
}

.contacts .form__box {
    margin-top: 30px;
    text-align: left;
}

.form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.form__group label {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    margin-bottom: 10px;
}

.form__control {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    resize: none;
    padding: 15px 20px;
    border: 2px solid #DDDDDD;
    border-radius: 7px;
    outline: transparent;
    width: 100%;
}
.form__control:active, .form__control:focus {
    border: 2px solid #4C71D6;
}

.form__group label.error {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color:#FF3E3E;
    display: none!important;
}

.form__control.error {
    border: 2px solid #FF3E3E;
}

.form__control::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #DDDDDD;
}

.form__control::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #DDDDDD;
}

.form__control:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #DDDDDD;
}

.form__control::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #DDDDDD;
}

.form__control::placeholder {
    font-size: 14px;
    line-height: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #DDDDDD;
}
.form__btn {
    width: 200px;
}
.footer {
    background: #031E4D;
    padding: 40px 0 50px;
}
.footer .row {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.footer .footer__left {
    text-align: left;
}
.footer .footer__left h3 {
    font-family: "Monda", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.footer .footer__left p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.footer .footer__center {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer .footer__center .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;   
    color: #FFFFFF;
}
.footer .footer__center .description a{
    color: #F31361;
}
.footer .footer__center .description:last-child {
    display: none;
}
.footer .footer__right {
    text-align: right;
}
.footer .footer__logo img {
    width: 168px;
}
.footer .footer__right .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;   
    color: #FFFFFF;
}
.footer .footer__right .description a {
    color: #FFFFFF;
}
.popup__owerlay {
    display: none;
    background: #031E4D;
    opacity: 0.8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1031;
}
.popup__owerlay.is-active {
    display: block;
}
.popup__login, .popup__registration {
    display: none;
    width: 534px;
    background: #FFFFFF;
    padding: 0px 55px 50px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1032;
}
.popup__login.is-active, .popup__registration.is-active {
    display: block;
}
.popup form {
    padding-top: 50px;
    position: relative;
}
.popup form .btn__close {
    position: absolute;
    right: 0;
    top: 25px;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.popup form .btn__close:hover svg circle{
    fill: #a6a5a5;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.popup form span {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #606A7C;
    margin-bottom: 25px;
    display: block;
}
.popup form .form__btn {
    margin-bottom: 30px;
}
.popup form .login__link {
    color: #F31361;
}